@model FamilyBunker.Entities.Calendar

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Calendar</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.eventName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.eventName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.startTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.startTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.endTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.endTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.calendarId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
