@model IEnumerable<FamilyBunker.Entities.Calendar>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.eventName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.startTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.eventName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.startTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.calendarId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.calendarId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.calendarId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
